{% extends "tool.html" %}
{% block description %}
    <p>Virtual Goblin Tinkerer simulates the reforging process in your browser. Not very useful but quite funny.</p>
{% endblock %}

{% block links %}
    <p><Website></Website>: <a target="_blank" rel="noopener noreferrer" href="https://noahstratos.github.io/TerrariaVirtualGoblinTinkerer/">https://noahstratos.github.io/TerrariaVirtualGoblinTinkerer/</a></p>
    <p>Terraria Forums post: <a target="_blank" rel="noopener noreferrer" href="https://forums.terraria.org/index.php?threads/terraria-virtual-goblin-tinkerer-reforge-simulator.81792/">
        https://forums.terraria.org/index.php?threads/terraria-virtual-goblin-tinkerer-reforge-simulator.81792/</a></p>
{% endblock %}
