{% extends "tool.html" %}

{% block description %}
    <p>Terraria Unified (.NET 8+, 64-bit, cross-platform server-client distribution) is a simple project that ports the game to .NET 8 and merges the Windows, macOS, and Linux client and server codebases into one.
        This modification maintains compatibility with vanilla servers, and tries its best to automatically detect existing
        Terraria installs in order to use the content folders of a preexisting installation.</p>

{% endblock %}
{% block links %}
    <p>GitHub: <a target="_blank" rel="noopener noreferrer" href="https://github.com/terraprisma/unified">https://github.com/terraprisma/unified</a></p>
    <p>Terraria Forums post: <a target="_blank" rel="noopener noreferrer" href="https://forums.terraria.org/index.php?threads/terraria-unified-net-8-64-bit-cross-platform-server-client-distribution.130432/">
        https://forums.terraria.org/index.php?threads/terraria-unified-net-8-64-bit-cross-platform-server-client-distribution.130432/</a></p>
{% endblock %}
